// Place all the styles related to the Camps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
    background-color: #f7f3ff;
    color: #1e0625;
    opacity: 0.6;
}

h1{
    color: #ae8760
}

h2{
     color: #82613c
}

